
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- style.css file path in the line below. -->
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <!-- -------------------------------------- -->
    <title>Multer Tutorial</title>
  </head>
  <body>
    <main class="admin">
      <div class="admin__upload-file">
        <form action="/api/uploadFile" enctype="multipart/form-data" method="post">
  
            <input type="text" class="box" id="name" name="chname" placeholder="chapter Name" required/>
            <br>

            <input type="text" class="box" id="password" name="chid" placeholder="Ch id" required/>
            <br>
            <input type="text" class="box" id="password" name="pagenumber" placeholder="Page number" required/>
            <br>

          <input type="file" class="admin__input" id="myFile" name="myFile" />

          <input type="text" class="box" id="password" name="parentunitid" placeholder="Parent unit Id" required/>
            <br>
            <input type="text" class="box" id="password" name="parentpartid" placeholder="Parent part Id" required/>
            <br>
           


          <input class="admin__submit" type="submit" />
        </form>
      </div>
    </main>
  </body>
</html>