<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Middle
        </title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 main">
                    <form action="/api/parts" method="POST">
                        <h2>Form</h2>
                        <input type="text" class="box" id="name" name="partname" placeholder="partName" required/>
                        <br>

                        <input type="text" class="box" id="password" name="childunit" placeholder="Childunit" required/>
                        <br>
                        <input type="text" class="box" id="password" name="partid" placeholder="Part Id" required/>
                        <br>

                        <input type="submit" value="Submit" id="submit"/>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </body>
</html>
